@model ChatVm
@{
	ViewBag.Title = "Index";
	string s = "";
	string time;
	DateTime now = DateTime.Now;
}
<style>
	main {
		padding: 0 !important;
	}

		main .container {
			padding-left: 0 !important;
		}
</style>



<div class="chat d-flex">
	<div class="chat-datas p-4">
		<form class="filterForm my-3 w-100">
			<input type="search" class="form-control filter py-4"
				   placeholder="Filter members &amp; files">
			<button type="submit" class="btn filterBtn"> <i class="fas fa-search"></i></button>
		</form>
		<div class="btn-list d-flex mt-3 justify-content-between w-100">
			<a href="#members" class="btn btn-item active" role="button">Members</a>
			<a href="#files" class="btn btn-item " role="button">Files</a>
		</div>
		<div id="members" class="page mt-5 w-100">
			<div class="page-title d-flex justify-content-between mb-4">
				<div class="d-flex justify-content-between align-items-center">
					<h2>Members</h2>
				</div>
			</div>
			<hr>
			<div class="page-body">
				<ul class="member-list pl-2">
					@foreach (TeamMember member in Model.TeamMembers.Where(tm => tm.TeamId == Model.Team.Id).ToList())
					{
						<li class="member-item d-flex justify-content-start align-items-start">
							<ul class="avatars mb-2 px-3">
								<li> <a href="@Url.Action("index","setting", new { id=member.User.Id})"> <img src="~/Uploads/@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Photo" alt="@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Name"></a></li>
							</ul>
							<div class="member-info">
								<a href="@Url.Action("index","setting", new { id=member.User.Id})">
									<p>@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Name @Model.Users.FirstOrDefault(u => u.Id == member.UserId).Surname</p>
								</a>
								<span>Developer</span>
							</div>
						</li>
					}
				</ul>
			</div>
		</div>
		<div id="files" class="page mt-5 w-100">
			<div class="page-title d-flex justify-content-between ">
				<div class="d-flex justify-content-between align-items-center">
					<h2>Files</h2>
				</div>
			</div>
			<div class="page-body ">
				@foreach (TeamMember member in Model.TeamMembers.Where(tm => tm.TeamId == Model.Team.Id).ToList())
				{
					if (member.User.Files != null)
					{
						foreach (var file in Model.Files.Where(f => f.UserId == member.UserId).ToList())
						{
					<div class="file-card w-100 d-flex justify-content-start align-items-center">
						<ul class="avatars mt-3 pl-4">
							<li><a href="#"><i class="far fa-file-alt"></i></a></li>
							<li><a href="#"><img src="~/Uploads/@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Photo" alt="@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Name"></a></li>
						</ul>
						<div class="file-info pl-3 py-4" style="width: 208px;">
							<a href="#">
								<p class="m-0" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap">@file.Name</p>
							</a>
							<span>@file.Weight</span>
						</div>
					</div>
						}
					}
				}
				</div>
		</div>
	</div>
	<div class="inbox w-100">
		<header class="d-flex p-3">
			@if (Model.Chat.Photo != null)
			{
				<img class="logo-team mr-3 mt-2" src="~/Uploads/@Model.Chat.Photo" alt="@Model.Team.Name">
			}
			<h3>@Model.Team.Name</h3>
			<ul class="avatars">
				@foreach (TeamMember member in Model.TeamMembers.Where(tm => tm.TeamId == Model.Team.Id).ToList())
				{
					<li><a href="#"><img src="~/Uploads/@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Photo" alt="@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Name"></a></li>
				}
			</ul>
		</header>
		<div class="inbox-body">
			<div class="container">
				<div class="inbox-messages">
					@foreach (Message mes in Model.Messages.ToList())
					{

						<div class="message @(mes.UserId== Convert.ToInt32(HttpContext.Current.Session["UserId"])? s="user-message":s="") my-2 d-flex align-items-end">
							<ul class="avatars mb-2 px-3">
								<li> <a href=""> <img src="~/Uploads/@Model.Users.FirstOrDefault(u=>u.Id==mes.UserId).Photo" alt="@Model.Users.FirstOrDefault(u=>u.Id==mes.UserId).Name"></a></li>
							</ul>
							<div class="text m-0">
								<p class=" m-0">
									@mes.Content
								</p>
								<span class="datetime" style="font-size:13px">
									@mes.Date.ToShortTimeString()
								</span>
							</div>
						</div>

					}
				</div>

			</div>
		</div>
		<footer>
			<form method="post" id="chat-form" class="message-area w-100 p-4" data-user="@HttpContext.Current.Session["UserId"]" data-chat="@Model.Chat.Id" enctype="multipart/form-data">
				<input id="message" type="text" class="form-control message px-3 py-4"
					   placeholder="Start typing for reply...">
				<button class="btn smile-btn"><i class="far fa-smile-wink"></i></button>
				<label class="d-block m-0"><img class="btn attech-btn" src="~/Uploads/clip.png" /></label>
				<button id="sendmessage" class="btn send-btn"><i class="far fa-paper-plane"></i></button>
			</form>
		</footer>
	</div>
</div>

@section scripts {
	<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Public/js/chat.js"></script>
}