@model TeamVm
@{
	DateTime now = DateTime.Now;
	string a;
	int show = 2;
}



<!--Start of header -->
<div class="header w-100 mt-5">

	<div class="head" data-id="@Model.Team.Id">
		<div class="row align-items-center">
			<div class="col-6">
				<h1> @Model.Team.Name </h1>
			</div>
			<div class="col-6">
				<ul class="avatars">
					@{
						List<TeamMember> members = Model.TeamMembers.ToList();
					}
					@if (members.Count > show)
					{
						for (int i = 0; i < show; i++)
						{
							<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == members[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == members[i].UserId).Name"></a></li>
						}
						<li><span class="count text-center">+@(members.Count - show)</span><i class="fas fa-ellipsis-h"></i></li>
					}
					else
					{
						for (int i = 0; i < members.Count; i++)
						{
							<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == members[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == members[i].UserId).Name"></a></li>
						}
					}
					<li>
						<a data-fancybox data-src="#member" href="javascript:;">
							<i class="fa fa-plus"></i>
						</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<div class="btn-list d-flex mt-3 justify-content-between">
		<a href="#projects" class="btn btn-item active" role="button">Projects</a>
		<a href="#tasks" class="btn btn-item " role="button">Tasks</a>
		<a href="#members" class="btn btn-item " role="button">Members</a>
	</div>

</div>
<!--End of header -->
<!--Start of Main -->

<div class="row mb-5">
	<div id="projects" class="page mt-5">
		<div class="page-title ">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Projects</h2>
				<div class="add">
					<a data-fancybox data-src="#project" class="dropdown-item" href="javascript:;">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>

		</div>
		<div class="page-body d-flex justify-content-around ">
			@if (Model.Projects != null)
			{
				foreach (TeamMember member in Model.TeamMembers.ToList())
				{
					foreach (Project project in Model.Projects.Where(p => p.UserId == member.UserId).ToList())
					{
						var due = project.EndTime.Subtract(project.StartTime);
						var pass = now.Subtract(project.StartTime);
						var bar = (100 * Convert.ToInt32(pass.Days)) / Convert.ToInt32(due.Days);
						<div class="project-card" data-slug="@project.Slug" data-id="@project.Id">
							@if (project.EndTime < now)
							{
								<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="10"
										 aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							}
							else
							{
								<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: @bar%" aria-valuenow="10"
										 aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							}
							<div class="card-title">
								<div class="curColor">
									<i class="fas fa-circle"></i>
								</div>
								<a class="click-title title" href="@Url.Action("index","project",new { slug = project.Slug, adminId=project.UserId })">
									<span>@project.Name</span>
								</a>
								@if (project.UserId == Convert.ToInt32(HttpContext.Current.Session["UserId"]))
								{
									<div class="dropdown">
										<a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
										   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fas fa-ellipsis-v"></i>
										</a>
										<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a id="edit-project" class="dropdown-item" href="javascript:;" data-fancybox data-src="#project">Edit</a>
											<a id="delete-project" class="dropdown-item" href="#">Delete</a>
										</div>
									</div>
								}
							</div>
							<div class="card-body pt-1">
								<p class="desc">@project.Desc</p>
								<div class="card-info d-flex justify-content-between">
									<div class="mt-2"><i class="far fa-check-square"></i><span>4/10</span></div>
									<ul class="avatars">
										@{
											List<ProjectMember> mems = Model.ProjectMembers.Where(p => p.ProjectId == project.Id).ToList();
										}
										@if (mems.Count > show)
										{
											for (int i = 0; i < show; i++)
											{
												<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == mems[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == mems[i].UserId).Name"></a></li>
											}
											<li><span class="count text-center">+@(mems.Count - show)</span><i class="fas fa-ellipsis-h"></i></li>
										}
										else
										{
											for (int i = 0; i < mems.Count; i++)
											{
												<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == mems[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == mems[i].UserId).Name"></a></li>
											}
										}
									</ul>
								</div>
							</div>
						</div>
					}
				}
			}
			else
			{
				<p class="add mx-auto text-center w-100" style="color:#bdbac2">
					Add project
				</p>
			}



		</div>
	</div>
	<div id="tasks" class="page mt-5">
		<div class="page-title">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Tasks</h2>
				<div class="add">
					<a data-fancybox data-src="#task" class="dropdown-item" href="javascript:;">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="page-body">
			<ul class="task-list pl-0">
				@foreach (TaskStage stage in Model.TaskStages.ToList())
				{
					<li>
						<div id="@stage.Name" class="task-stage pb-4">
							<h5 class="stage pb-0">@stage.Name</h5>
							<div class="@stage.Name-list">
								@if (stage.Tasks == null)
								{
									<p class="add mx-auto text-center" style="width:150px;">
										Add Task
									</p>
								}
								else
								{
									foreach (TeamMember member in Model.TeamMembers.ToList())
									{
										foreach (Task task in Model.Tasks.Where(t => t.TaskStageId == stage.Id && (t.UserId == member.UserId)).ToList())
										{

											<div class="task-card mt-4" data-slug="@task.Slug" data-id="@task.Id">
												<div class="progress">
													@{
														var Taskdue = task.EndTime.Subtract(task.StartTime);
														var Taskpass = now.Subtract(task.StartTime);
														var progress = (100 * Convert.ToInt32(Taskpass.Days)) / Convert.ToInt32(Taskdue.Days);
													}
													<div class="progress-bar" role="progressbar" style="width: @progress%"
														 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<div class="row">
													<div class="col-6 p-4 pl-5">
														<a href="@Url.Action("index", "task", new { slug = task.Slug, adminId = task.UserId })">
															<h6>@task.Name</h6>
														</a>

														<p class="desc">@task.Desc</p>
													</div>
													<div class="col-6 p-4 d-flex justify-content-between align-items-center">
														<ul class="avatars">
															@{
																List<TaskMember> mems = Model.TaskMembers.Where(t => t.TaskId == task.Id).ToList();
															}
															@if (mems.Count > show)
															{
																for (int i = 0; i < show; i++)
																{
																	<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == mems[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == mems[i].UserId).Name"></a></li>
																}
																<li><span class="count text-center">+@(mems.Count - show)</span><i class="fas fa-ellipsis-h"></i></li>
															}
															else
															{
																for (int i = 0; i < mems.Count; i++)
																{
																	<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == mems[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == mems[i].UserId).Name"></a></li>
																}
															}
														</ul>

														@if (task.UserId == Convert.ToInt32(HttpContext.Current.Session["UserId"]))
														{
															<div class="dropdown">
																<a class="nav-link" href="#" id="navbarDropdownMenuLink"
																   role="button" data-toggle="dropdown" aria-haspopup="true"
																   aria-expanded="false">
																	<i class="fas fa-ellipsis-v"></i>
																</a>
																<div class="dropdown-menu"
																	 aria-labelledby="navbarDropdownMenuLink">
																	<a id="edit-task" class="dropdown-item" href="javascript:;" data-fancybox data-src="#task">Edit</a>
																	<a id="delete-task" class="dropdown-item" href="#">Delete</a>
																</div>
															</div>
														}

													</div>
												</div>
											</div>
										}
									}
								}
							</div>
						</div>
					</li>
				}
			</ul>

		</div>
	</div>
	<div id="members" class="page mt-5">
		<div class="page-title">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Members</h2>
				<div class="add">
					<a data-fancybox data-src="#member" class="dropdown-item" href="javascript:;">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
		<div id="mem-list" class="page-body d-flex justify-content-around ">
			@if (Model.TeamMembers != null)
			{
				foreach (TeamMember member in Model.TeamMembers.ToList())
				{
					<div class="member-card text-center" data-id="@member.Id">
						@if (Model.Users.FirstOrDefault(u => u.Id == member.UserId).Id != Model.Team.UserId)
						{
							<a id="delete-member" class="del" href="#"><i class="fas fa-times"></i></a>

						}
					<div class="member-photo mt-5">
						@if (Model.Users.FirstOrDefault(u=>u.Id==member.UserId).Photo != null)
						{
							<img src="~/Uploads/@Model.Users.FirstOrDefault(u=>u.Id==member.UserId).Photo" alt="@Model.Users.FirstOrDefault(u=>u.Id==member.UserId).Name" class=" dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">

						}
						else
						{
							<img src="~/Public/img/user_male2-512.png" alt="user" class=" dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">

						}
					</div>
						<div class="member-info mt-3">
							<a href="@Url.Action("index","setting", new { id=member.User.Id})">
								<h6>@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Name @Model.Users.FirstOrDefault(u => u.Id == member.UserId).Surname</h6>
							</a>
							<p>@Model.Users.FirstOrDefault(u => u.Id == member.UserId).Position</p>
						</div>
						<ul class="icons mx-4">
							<li><i class="fab fa-twitter"></i></li>
							<li><i class="fab fa-linkedin-in"></i></li>
							<li><i class="fab fa-facebook-f"></i></li>
						</ul>
					</div>

				}
			}
			else
			{
				<p class="add mx-auto text-center w-100" style="color:#bdbac2">
					Add Files
				</p>
			}
		</div>
	</div>
</div>
<!--End of main -->
<div style="display: none; " id="hidden-content">
	<div id="member" class="popup">
		<div class="form">
			<div class="popup-head px-5 pt-4 pb-2 w-100">
				<h3>Add Member</h3>
			</div>
			<form id="member-form" class="px-4">

				<label for="member">Members</label>
				<input type="text" id="member" name="member" class="form-control" aria-describedby="teammember"
					   placeholder="Enter members email address">
				<hr>
				<button type="submit" class="createBtn btn btn-primary my-3">
					Create
					team
				</button>
			</form>
		</div>
	</div>
</div>