@model TeamVm
@{
	ViewBag.Title = "Index";
}



<!--Start of header -->
<div class="header w-100 mt-5">

	<div class="head">
		<div class="row align-items-center">
			<div class="col-6">
				<h1> @Model.Team.Name </h1>
				<p>@Model.Team.Desc</p>
			</div>
			<div class="col-6">
				<ul class="avatars">
					@foreach (TeamMember member in Model.TeamMembers.ToList())
					{
						<li><a href="#"><img src="~/Public/img/@Model.Users.Find(u=>u.Id==member.UserId).Photo" alt="@Model.Users.Find(u=>u.Id==member.UserId).Name"></a></li>
					}

					<li><a href="#"><i class="fa fa-plus"></i></a></li>
				</ul>

			</div>
		</div>
	</div>
	<div class="btn-list d-flex mt-3 justify-content-between">
		<a href="#projects" class="btn btn-item active" role="button">Projects</a>
		<a href="#tasks" class="btn btn-item " role="button">Tasks</a>
		<a href="#members" class="btn btn-item " role="button">Members</a>
	</div>

</div>
<!--End of header -->
<!--Start of Main -->

<div class="row mb-5">
	<div id="projects" class="page mt-5">
		<div class="page-title d-flex justify-content-between ">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Projects</h2>
				<div class="add">
					<a data-fancybox data-src="#project" class="dropdown-item" href="javascript:;">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
			<form class=" filterForm my-3">
				<input type="search" class="form-control filter py-4" placeholder="Filter projects">
				<button type="submit" class="btn filterBtn"> <i class="fas fa-search"></i></button>
			</form>
		</div>
		<div class="page-body d-flex justify-content-around ">
			@foreach (TeamMember member in Model.TeamMembers.ToList())
			{
				foreach (Project project in Model.Projects.Where(p => p.UserId == member.UserId).ToList())
				{


					<div class="project-card">
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
								 aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="card-title">
							<div class="curColor">
								<i class="fas fa-circle"></i>
							</div>
							<a class="click-title title" href="@Url.Action("index","project",new { slug = project.Slug })">
								<span>@project.Name</span>
							</a>

							<div class="dropdown">
								<a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
								   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-ellipsis-v"></i>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Edit</a>
									<a class="dropdown-item" href="#">Share</a>
									<a class="dropdown-item" href="#">Delete</a>
								</div>
							</div>
						</div>
						<div class="card-body pt-1">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<div class="card-info d-flex justify-content-between">
								<div class="mt-2"><i class="far fa-check-square"></i><span>4/10</span></div>
								<ul class="avatars">
									@foreach (ProjectMember projectMember in Model.ProjectMembers.Where(m => m.ProjectId == project.Id).ToList())
									{
										<li><a href="#"><img src="~/Public/img/@Model.Users.Find(u=>u.Id==projectMember.UserId).Photo" alt="@Model.Users.Find(u=>u.Id==projectMember.UserId).Name"></a></li>
									}
								</ul>
							</div>
						</div>
					</div>
				}
			}


		</div>
	</div>
	<div id="tasks" class="page mt-5">
		<div class="page-title d-flex justify-content-between ">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Tasks</h2>
				<div class="add">
					<a data-fancybox data-src="#task" class="dropdown-item" href="javascript:;">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
			<form class=" filterForm my-3">
				<input type="search" class="form-control filter py-4" placeholder="Filter tasks">
				<button type="submit" class="btn filterBtn"> <i class="fas fa-search"></i></button>
			</form>
		</div>
		<div class="page-body">
			<ul class="task-list pl-0">
				@foreach (TaskStage stage in Model.TaskStages.ToList())
				{
					<li>
						<div id="@stage.Name" class="task-stage pb-4">
							<h5 class="stage pb-0">@stage.Name</h5>
							<div class="@stage.Name-list">
								@if (stage.Tasks == null)
								{
									<div class="add mx-auto text-center" style="width:150px;">
										<a data-fancybox data-src="#task" class="dropdown-item" href="javascript:;">
											Add Task
										</a>
									</div>
								}
								else
								{
									foreach (TeamMember member in Model.TeamMembers.ToList())
									{
										foreach (Task task in Model.Tasks.Where(t => t.TaskStageId == stage.Id && t.UserId == member.UserId).ToList())
										{

											<div class="task-card mt-4">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 25%"
														 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<div class="row">
													<div class="col-6 p-4 pl-5">
														<a href="@Url.Action("index", "task", new { slug = task.Slug })">
															<h6>@task.Name</h6>
														</a>

														<p>@task.Desc</p>
													</div>
													<div class="col-6 p-4 d-flex justify-content-between align-items-center">
														<ul class="avatars">
															@foreach (TaskMember taskmember in Model.TaskMembers.Where(t => t.TaskId == task.Id).ToList())
															{
																<li>
																	<a href="#"><img src="~/Public/img/@Model.Users.Find(u => u.Id == taskmember.UserId).Photo" alt="@Model.Users.Find(u => u.Id == taskmember.UserId).Name"></a>
																</li>
															}

														</ul>
														<div class="mt-2">
															<i class="far fa-check-square"></i><span>4/10</span>
														</div>

														<div class="dropdown">
															<a class="nav-link" href="#" id="navbarDropdownMenuLink"
															   role="button" data-toggle="dropdown" aria-haspopup="true"
															   aria-expanded="false">
																<i class="fas fa-ellipsis-v"></i>
															</a>
															<div class="dropdown-menu"
																 aria-labelledby="navbarDropdownMenuLink">
																<a class="dropdown-item" href="#">Edit</a>
																<a class="dropdown-item" href="#">Share</a>
																<a class="dropdown-item" href="#">Delete</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										}
									}
								}
							</div>
						</div>
					</li>
				}
			</ul>

		</div>
	</div>
	<div id="members" class="page mt-5">
		<div class="page-title d-flex justify-content-between ">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Members</h2>
			</div>
			<form class=" filterForm my-3">
				<input type="search" class="form-control filter py-4" placeholder="Filter member">
				<button type="submit" class="btn filterBtn"> <i class="fas fa-search"></i></button>
			</form>
		</div>
		<div class="page-body d-flex justify-content-around ">
			@foreach (TeamMember member in Model.TeamMembers.ToList())
			{
				<div class="member-card text-center">
					<div class="member-photo mt-5">
						<img src="~/Public/img/@Model.Users.Find(u=>u.Id==member.UserId).Photo" alt="@Model.Users.Find(u => u.Id == member.UserId).Name">
					</div>
					<div class="member-info mt-3">
						<a href="#">
							<h6>@Model.Users.Find(u => u.Id == member.UserId).Name @Model.Users.Find(u => u.Id == member.UserId).Surname</h6>
						</a>
						<p>@Model.Users.Find(u => u.Id == member.UserId).Position</p>
					</div>
					<ul class="icons mx-4">
						<li><i class="fab fa-twitter"></i></li>
						<li><i class="fab fa-linkedin-in"></i></li>
						<li><i class="fab fa-facebook-f"></i></li>
					</ul>
				</div>

			}
		</div>
	</div>
</div>
<!--End of main -->