@model ProjectVm
@{
	ViewBag.Title = "Index";
	DateTime now = DateTime.Now;
	string span = null;
	var due = Model.Project.EndTime.Subtract(Model.Project.StartTime);
	var pass = now.Subtract(Model.Project.StartTime);
	var bar = (100 * Convert.ToInt32(pass.Days)) / Convert.ToInt32(due.Days);
	int show = 2;

}

<!--Start of header -->
<div class="header w-100 mt-5">
	<div class="head" data-id="@Model.Project.Id">
		<div class="row">
			<div class="col-6">
				<h1>@Model.Project.Name </h1>
				<p>@Model.Project.Desc</p>
			</div>
			<div class="col-6">
				<ul class="avatars">
					@{
						List<ProjectMember> members = Model.ProjectMembers.ToList();
					}
					@if (members.Count > show)
					{
						for (int i = 0; i < show; i++)
						{
							<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == members[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == members[i].UserId).Name"></a></li>
						}
						<li><span class="count text-center">+@(members.Count - show)</span><i class="fas fa-ellipsis-h"></i></li>
					}
					else
					{
						for (int i = 0; i < members.Count; i++)
						{
							<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == members[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == members[i].UserId).Name"></a></li>
						}
					}
					<li>
						<a data-fancybox data-src="#member" href="javascript:;">
							<i class="fa fa-plus"></i>
						</a>
					</li>
				</ul>

				@if (Model.Project.EndTime < now)
				{
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="10"
							 aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				}
				else
				{
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: @bar%" aria-valuenow="10"
							 aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				}
				<div class="progInfo d-flex justify-content-between">


					@if (pass <= due)
					{
						<div class="mt-2"><i class="far fa-check-square"></i><span>@(pass.Days > 30 ? Math.Round(pass.TotalDays / 30) : pass.Days) @(pass.Days > 30 ? span = "months" : span = "days")</span></div>

					}
					else
					{
						<div class="mt-2"><i class="far fa-check-square"></i><span> Complated</span></div>

					}
					<div class="due"><i class="far fa-clock"></i><span>Due @(due.Days > 30 ? Math.Round(due.TotalDays / 30) : due.Days) @(due.Days > 30 ? span = "months" : span = "days")</span></div>

				</div>



			</div>
		</div>
	</div>
	<div class="btn-list d-flex mt-3 justify-content-between">
		<a href="#tasks" class="btn btn-item active" role="button">Tasks</a>
		<a href="#files" class="btn btn-item" role="button">Files</a>
		<a href="#activity" class="btn btn-item " role="button">Activity</a>
	</div>
</div>
<!--End of header -->
<!--Start of Main -->

<div class="row mb-5">
	<div id="activity" class="page mt-5">
		<div class="page-title">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Activity</h2>
				<div class="deleteAll">
					<span data-fancybox data-src="#delAct" class="dropdown-item" href="javascript:;">Clear activities list</span>
				</div>
			</div>

		</div>
		<div class="page-body ">

			@foreach (ProjectMember member in Model.ProjectMembers.ToList())
			{
				foreach (Activity act in Model.Activities.Where(a => a.UserId == member.UserId).ToList())
				{
					<div class="act-card w-100 d-flex justify-content-start align-items-center">
						<ul class="avatars mt-3">
							<li><a href="#"><i class="fas fa-star"></i></a></li>
							<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u=>u.Id==act.UserId).Photo" alt="@Model.Users.Find(u=>u.Id==act.UserId).Name"></a></li>
						</ul>
						<div class="act-info pl-4 py-4">
							<a href="#">
								<p class="m-0">@Model.Users.Find(u => u.Id == act.UserId).Name @act.Desc</p>
							</a>
							<span>
								@act.Date.ToString("MM.dd.yyyy, hh:mm")
							</span>
						</div>

					</div>

				}
			}
		</div>
	</div>
	<div id="tasks" class="page mt-5">
		<div class="page-title">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Tasks</h2>
				<div class="add">
					<a data-fancybox data-src="#task" class="dropdown-item" href="javascript:;">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>

		</div>
		<div class="page-body">
			<ul class="task-list pl-0">
				@foreach (TaskStage stage in Model.TaskStages.ToList())
				{
					<li>
						<div id="@stage.Name" class="task-stage pb-4">
							<h5 class="stage pb-0">@stage.Name</h5>
							<div class="@stage.Name-list">
								@if (stage.Tasks == null)
								{
									<p class="add mx-auto text-center" style="width:150px;">
										Add Task
									</p>
								}
								else
								{

									foreach (ProjectMember member in Model.ProjectMembers.ToList())
									{

										foreach (Task task in Model.Tasks.Where(t => t.TaskStageId == stage.Id && t.User.Id == member.UserId).ToList())
										{

											<div class="task-card mt-4" data-slug="@task.Slug" data-id="@task.Id">
												<div class="progress">
													@{
														var Taskdue = task.EndTime.Subtract(task.StartTime);
														var Taskpass = now.Subtract(task.StartTime);
														var progress = (100 * Convert.ToInt32(Taskpass.Days)) / Convert.ToInt32(Taskdue.Days);


													}
													<div class="progress-bar" role="progressbar" style="width:  @progress%"
														 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<div class="row">
													<div class="col-6 p-4 pl-5">
														<a class="slug" href="@Url.Action("index", "task", new { slug = task.Slug, adminId = task.UserId })">
															<h6>@task.Name</h6>
														</a>

														<p class="desc">@task.Desc</p>
													</div>
													<div class="col-6 p-4 d-flex justify-content-between align-items-center">
														<ul class="avatars">
															@{
																List<TaskMember> mems = Model.TaskMembers.Where(t => t.TaskId == task.Id).ToList();
															}
															@if (mems.Count > show)
															{
																for (int i = 0; i < show; i++)
																{
																	<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == mems[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == mems[i].UserId).Name"></a></li>
																}
																<li><span class="count text-center">+@(mems.Count - show)</span><i class="fas fa-ellipsis-h"></i></li>
															}
															else
															{
																for (int i = 0; i < mems.Count; i++)
																{
																	<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u => u.Id == mems[i].UserId).Photo" alt="@Model.Users.Find(u => u.Id == mems[i].UserId).Name"></a></li>
																}
															}

														</ul>
														@if (task.UserId == Convert.ToInt32(HttpContext.Current.Session["UserId"]))
														{
															<div class="dropdown">
																<a class="nav-link" href="#" id="navbarDropdownMenuLink"
																   role="button" data-toggle="dropdown" aria-haspopup="true"
																   aria-expanded="false">
																	<i class="fas fa-ellipsis-v"></i>
																</a>
																<div class="dropdown-menu"
																	 aria-labelledby="navbarDropdownMenuLink">
																	<a id="edit-task" class="dropdown-item" href="javascript:;" data-fancybox data-src="#task">Edit</a>
																	<a id="delete-task" class="dropdown-item" href="#">Delete</a>
																</div>
															</div>
														}
													</div>
												</div>
											</div>
										}

									}
								}
							</div>
						</div>
					</li>
				}
			</ul>

		</div>
	</div>
	<div id="files" class="page mt-5">
		<div class="page-title">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Files</h2>
			</div>

		</div>
		<div class="page-body ">

			@if (Model.Admin.Files != null)
			{
				foreach (ProjectMember mem in Model.ProjectMembers.ToList())
				{

					foreach (var file in Model.Files.Where(f => f.UserId == mem.UserId).ToList())
					{
						<div class="file-card w-100 d-flex justify-content-start align-items-center">
							<ul class="avatars mt-3">
								<li><a href="#"><i class="far fa-file-alt"></i></a></li>
								<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u=>u.Id==file.UserId).Photo" alt="@Model.Users.Find(u=>u.Id==file.UserId).Name"></a></li>
							</ul>
							<div class="file-info pl-4 py-4">
								<a href="#">
									<p class="m-0">@file.Name</p>
								</a>
								<span>@file.Weight</span>
							</div>

						</div>

					}

				}
			}
			else
			{
				<p class="add mx-auto text-center w-100" style="color:#bdbac2">
					Add Files
				</p>
			}

		</div>
	</div>
</div>
<!--End of main -->
<div style="display: none;" id="hidden-content">
	<div id="member" class="popup">
		<div class="form">
			<div class="popup-head px-5 pt-4 pb-2 w-100">
				<h3>Add Member</h3>
			</div>
			<form id="member-form-project" class="px-4">

				<label for="member">Members</label>
				<input type="text" id="member" name="member" class="form-control" aria-describedby="projectmember" required
					   placeholder="Enter members email address">
				<hr>
				<button type="submit" class="createBtn btn btn-primary my-3">
					Create
					team
				</button>
			</form>
		</div>
	</div>
</div>
<div style="display: none; " id="hidden-content">
	<div id="delAct" class="popup">
		<div class="form text-center" data-id="@Model.Project.Id">
			<div class="popup-head px-5 pt-4 pb-2 w-100">
				<i class="far fa-times-circle"></i>
			</div>
			<h3>Are you sure?</h3>
			<span>Do you really want delete all activities?</span>
			<br />
			<a id="delete-project-act" class="btn btn-danger text-white">Delete</a>
			<button class="btn btn-secondary cancel">Cancel</button>
		</div>
	</div>
</div>