@model TaskVm
@{
	ViewBag.Title = "Index";
	DateTime now = DateTime.Now;
	string span=null;
	var Taskdue = Model.Task.EndTime.Subtract(Model.Task.StartTime);
	var Taskpass = now.Subtract(Model.Task.StartTime);
	var progress = (100 * Convert.ToInt32(Taskpass.Days)) / Convert.ToInt32(Taskdue.Days);
}



<!--Start of header -->
<div class="header w-100 mt-5">

	<div class="head" data-id="@Model.Task.Id">
		<div class="row">
			<div class="col-6">
				<h1>@Model.Task.Name</h1>
				<p>@Model.Task.Desc</p>
			</div>
			<div class="col-6">
				<ul class="avatars">
					@foreach (TaskMember member in Model.TaskMembers.Where(m=>m.TaskId==Model.Task.Id).ToList())
					{
						<li><a href=""><img src="~/Uploads/@Model.Users.Find(u=>u.Id==member.UserId).Photo" alt="@Model.Users.Find(u=>u.Id==member.UserId).Name"></a></li>
					}
					<li>
						<a data-fancybox data-src="#member" href="javascript:;">
							<i class="fa fa-plus"></i>
						</a>
					</li>
				</ul>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: @progress%" aria-valuenow="@progress"
						 aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="progInfo d-flex justify-content-between">

					@if (Taskpass <= Taskdue)
					{
						<div class="mt-2"><i class="far fa-check-square"></i><span>@(Taskpass.Days > 30 ? Math.Round(Taskpass.TotalDays / 30) : Taskpass.Days) @(Taskpass.Days > 30 ? span = "months" : span = "days")</span></div>
					}
					else
					{
				<div class="mt-2"><i class="far fa-check-square"></i><span> Complated</span></div>
					}
				<div class="due"><i class="far fa-clock"></i><span>Due @Taskdue.Days days</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-list d-flex mt-3 justify-content-between">
		<a href="#checklist" class="btn btn-item active" role="button">Tasks</a>
		<a href="#files" class="btn btn-item " role="button">Files</a>
		<a href="#activity" class="btn btn-item " role="button">Activity</a>
	</div>

</div>
<!--End of header -->
<!--Start of Main -->

<div class="row mb-5">
	<div id="activity" class="page mt-5">
		<div class="page-title ">
				<h2>Activity</h2>
			
		</div>
		<div class="page-body ">
			@foreach (TaskMember member in Model.TaskMembers.ToList())
			{


				foreach (Activity act in Model.Activities.Where(a => a.UserId == member.UserId).ToList())
				{
					<div class="act-card w-100 d-flex justify-content-start align-items-center">
						<ul class="avatars mt-3">
							<li><a href="#"><i class="fas fa-star"></i></a></li>
							<li><a href="#"><img src="~/Uploads/@Model.Users.Find(u=>u.Id==act.UserId).Photo" alt="@Model.Users.Find(u=>u.Id==act.UserId).Name"></a></li>
						</ul>
						<div class="act-info pl-4 py-4">
							<a href="#">
								<p class="m-0">@Model.Users.Find(u => u.Id == act.UserId).Name @act.Desc</p>
							</a>
							<span>
								@act.Date.ToString("MM.dd.yyyy, hh:mm")
							</span>
						</div>
					
					</div>

				}
			}
		</div>
	</div>
	<div id="checklist" class="page mt-5">
		<div class="page-title">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Checklist</h2>
				<div class="add" id="add-check">
					<a data-src="#check" class="dropdown-item">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
			
		</div>
		<div id="check-body" class="page-body">

			@if (Model.Task.Checklists!=null) { 
			foreach (Checklist checklist in Model.Checklists.Where(c => c.TaskId == Model.Task.Id).ToList())
			{
				<div class="check-card file-card  w-100 d-flex justify-content-start align-items-center" data-id="@checklist.Id">
					<div class="file-info pl-4 py-4 w-100">
						<div class="input-group pl-5 mb-3">
							<div class="bar">
								<i class="fas fa-bars"></i>
							</div>
							<form class="w-100" id="check-form" data-type="update" data-id="@checklist.Id">
								<input id="checkbox" class="check" @(checklist.Checked ? "checked =checked" : " ") type="checkbox" />


								<input id="text" type="text" class="form-control"
									   value="@checklist.Text">
							</form>

						</div>

					</div>
					<div class="dropdown">
						<a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-v"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a id="edit-checkitem" class="dropdown-item" href="#">Edit</a>
							<a id="delete-checkitem" class="dropdown-item" href="#">Delete</a>
						</div>
					</div>
				</div>
			}
			}
			else
			{
			<p class="add mx-auto text-center w-100">
				Add checkitem
			</p>
			}

		</div>

		<div id="note" class="page mt-5" style="display:inline-block;">
			<div class="page-title">
				<div class="d-flex justify-content-between align-items-center">
					<h2>Note</h2>
					<div class="add">
						<a data-fancybox data-src="#note-create" class="dropdown-item" href="javascript:;">
							<i class="fa fa-plus"></i>
						</a>
					</div>
				</div>

			</div>
			<div id="note-body" class="page-body d-flex justify-content-around align-items-center">
				@if (Model.Task.Notes != null)
				{
					foreach (Note note in Model.Notes.Where(n => n.TaskId == Model.Task.Id).ToList())
					{
						<div class="note-card p-4" data-id="@note.Id">
							<p>
								@note.Title
							</p>
							<span>
								@note.Desc
							</span>
							<div class="dropdown">
								<a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
								   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-ellipsis-v"></i>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a id="edit-note" class="dropdown-item" data-src="#note-create" data-fancybox href="javascript:;">Edit</a>
									<a id="delete-note" class="dropdown-item" href="#">Delete</a>
								</div>
							</div>
						</div>
					}
				}
				else
				{
					<p class="add mx-auto text-center w-100">
						Add note
					</p>
				}
			</div>
		</div>
	</div>
	<div id="files" class="page mt-5">
		<div class="page-title d-flex justify-content-between ">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Files</h2>
			</div>

		</div>
		<div class="page-body ">
			<div class="upload w-100">
				<form id="file-upload" class="px-4" enctype="multipart/form-data" method="post">
					<label>
						<input type="file" id="fileBase" name="fileBase" class="form-control">
						<span>Select or drag &amp; drop your files for upload</span>
					</label>
					<input type="text" id="taskid" name="TaskId" class="form-control" style="display:none" value="@Model.Task.Id">

				</form>
			</div>
			<div id="file-list">
				@foreach (PMP.Models.File file in Model.Files.Where(f=>f.TaskId==Model.Task.Id).ToList())
				{
					<div id="file-card" class="file-card w-100 d-flex justify-content-start align-items-center" data-id="@file.Id">
						<ul class="avatars mt-3">
							<li><a href=""><i class="far fa-file-alt"></i></a></li>
							<li><a href=""><img src="~/Uploads/@Model.Users.Find(u=>u.Id==file.UserId).Photo" alt="@Model.Users.Find(u=>u.Id==file.UserId).Name"></a></li>
						</ul>
						<div class="file-info pl-4 py-4">
							<a href="#">
								<p class="m-0">@file.Name</p>
							</a>
							<span>@file.Weight</span>
						</div>
						<div class="dropdown">
							<a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
							   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a id="delete-file" class="dropdown-item" href="#">Delete</a>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

	<!--End of main -->

	<div style="display: none; " id="hidden-content">
		<div id="note-create" class="popup">
			<div class="form">
				<div class="popup-head px-5 pt-4 pb-2 w-100">
					<h3>New note</h3>
				</div>
				<form id="note-form" class="px-4" data-type="create">
					<label for="title">Name</label>
					<input type="text" id="title" name="title" class="form-control" data-type="slug-source" required="50"
						   placeholder="Note title">
					<label for="desc">Description</label>
					<textarea id="description" name="desc" class="form-control" rows="3" required maxlength="150"
							  placeholder="Note description"></textarea>
					<div class="type-id" style="display:none"></div>
					<hr>
					<button type="submit" class="createBtn btn btn-primary my-3"> Create note</button>
				</form>
			</div>
		</div>
	</div>
	<div style="display: none; " id="hidden-content">
		<div id="member" class="popup">
			<div class="form">
				<div class="popup-head px-5 pt-4 pb-2 w-100">
					<h3>Add Member</h3>
				</div>
				<form id="member-form-task" class="px-4">

					<label for="member">Members</label>
					<input type="text" id="member" name="member" class="form-control" aria-describedby="Paskmember" required
						   placeholder="Enter members email address">
					<hr>
					<button type="submit" class="createBtn btn btn-primary my-3">
						Create
						team
					</button>
				</form>
			</div>
		</div>
	</div>
